.profile-setup {
  .subtitle {
    width: 17.375rem;
    text-align: center;
    margin: 1.5rem auto;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .subtitle {
      margin: 0.5rem 0 1rem;
    }
  }

  &.responsive-page-layout.scan {
    background-color: transparent !important;

    .responsive-page-content .scan {
      margin: 0;
    }

    .close-button-label p {
      color: var(--ion-color-neutral-200);
    }
  }

  &.profiletype {
    padding: 0;
    --padding: 1.25rem;

    &.md {
      padding-bottom: calc(var(--ion-safe-area-bottom) + 1.25rem);
    }

    ion-header {
      padding: var(--padding);
      padding-bottom: 0;
    }

    .page-footer {
      padding: var(--padding);
      padding-top: 0;
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      --padding: 0.9rem;
    }
  }

  .spinner-container {
    margin-top: 0 !important;
    background: rgba(var(--ion-color-neutral-700-rgb), 0.2);
    backdrop-filter: blur(0.25rem);
  }
}
