.verify-password-modal {
  ion-label:not([color="danger"]) {
    display: none;
  }

  & .responsive-modal-content.verify-password-content {
    ion-header.page-header {
      margin-bottom: 1.5rem;

      & ion-buttons.buttons-last-slot {
        .action-button-label {
          & > p {
            color: var(--ion-color-primary-700) !important;
          }
        }
      }
    }

    .password-input-container {
      margin-bottom: 0.75rem;
    }

    .forgot-actions {
      margin-bottom: 1.25rem;

      ion-button {
        --color: var(--ion-color-primary-700);
        margin-bottom: 0;
      }
    }

    .page-footer ion-button {
      margin: 0;
    }
  }

  ion-item {
    --min-height: auto;
  }

  ion-item.custom-input {
    .input-line {
      border-width: 0.125rem;
      overflow: hidden;
      background: var(--ion-color-neutral-100);

      &:focus-within {
        border-color: var(--ion-color-primary-700);
      }
    }

    ion-input {
      border-radius: 0.5rem;
      --padding-top: 0.75rem;
      --padding-bottom: 0.75rem;
      font-weight: 400;
      font-size: 1rem;

      .input-wrapper {
        --background: var(--ion-color-neutral-100);
      }

      &[type="password"] {
        letter-spacing: 0.25em;
      }
    }
  }

  .error-message {
    text-align: center;
  }

  .error-placeholder {
    height: 2.375rem;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    & .responsive-modal-content.verify-password-content {
      ion-header.page-header {
        margin-bottom: 1rem;
      }

      .password-input-container {
        margin-bottom: 0.75rem;
      }
    }

    .error-placeholder {
      height: 1.7rem;
    }
  }
}

.alert-wrapper {
  .show-hint {
    margin-bottom: 0.5rem !important;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 1.375rem;
    text-transform: none !important;
    border-radius: 1rem !important;
    border: 1px solid var(--ion-color-neutral-400) !important;

    &.sc-ion-alert-md {
      height: auto !important;
    }
  }
}

.verify-password-modal {
  .confirm-btn {
    height: 3.5rem;
  }
}
