.notification-details-receive-credential {
  display: flex !important;

  .scrollable-page-content {
    justify-content: space-between;

    .info-card {
      margin-bottom: 0;
    }
  }

  h2 {
    text-align: center;
  }

  .max-threshhold {
    background-color: rgba(var(--ion-color-success-800-rgb), 0.1);

    ion-icon {
      color: var(--ion-color-success-800);
    }
  }

  .receive-page-container {
    height: 100%;
    margin: 0;
  }

  .request-animation-center {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0 0 1.5rem;
    margin-top: 2.25rem;
    transition: transform 0.75s ease;
    will-change: transform;

    .group-members,
    .related-identifiers {
      margin-top: 2rem;

      .member:not(:last-child) {
        margin-bottom: 0.75rem;
      }

      ion-item {
        display: flex;
        align-items: center;

        &.card-header {
          padding-bottom: 1.25rem;

          .action-button {
            color: var(--ion-color-neutral-500);
          }
        }
      }

      .card-details-info-block-line {
        align-items: center;

        .card-details-info-block-line-start-icon {
          height: auto;

          ion-button.avatar-button {
            width: 1.5rem;
            min-height: auto;
            margin-bottom: 0.125rem;

            span {
              font-size: 1rem;
              line-height: 1rem;
            }

            &::part(native) {
              width: 1.5rem;
              height: 1.5rem;
            }
          }

          @media screen and (min-width: 250px) and (max-width: 370px) {
            width: auto;
          }
        }
      }
    }

    .issuer-name {
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.25rem;
        padding-top: 0.15rem;
        color: var(--ion-color-neutral-700);
      }
    }
  }

  .credential-detail {
    margin-top: 2rem;
    text-align: center;

    .credential-button {
      --border-radius: 0.5rem;
      height: 2.5rem;
    }
  }

  .alert {
    margin-top: 0.75rem;
  }

  &.revoked {
    .request-animation-center {
      min-height: calc(100vh - (15.5rem + var(--ion-safe-area-top)));
    }

    .alert {
      &.info-card {
        background: rgba(var(--ion-color-error-800-rgb), 0.1);

        .alert-icon {
          ion-icon {
            color: var(--ion-color-danger);
          }
        }
      }
    }

    .request-animation-center {
      margin-top: 0;
    }
  }

  .request-icons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;

    .request-user-logo,
    .request-provider-logo {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;
      background-color: var(--ion-color-neutral-700);

      ion-icon {
        width: 4.875rem;
        height: 4.875rem;
        margin: 0 auto;
      }
    }

    .request-checkmark-logo {
      position: absolute;
    }

    .request-swap-logo,
    .request-checkmark-logo {
      margin: 0 1.62rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--ion-color-primary-700);
        margin: 0 auto;
        color: var(--ion-color-neutral-100);
      }
    }

    .request-swap-logo {
      width: 2.75rem;
      height: 2.75rem;

      span {
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 2.75rem;

        ion-icon {
          width: 1.75rem;
          height: 1.75rem;
          margin: 0 auto;
        }
      }
    }

    .request-checkmark-logo span {
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;

      ion-icon {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0 auto;
      }
    }

    .request-animation-center {
      padding: 0;
    }
  }

  .request-info-row {
    ion-col {
      display: flex;
      flex-direction: column;

      > * {
        text-align: center;
      }

      span {
        font-size: 1rem;
        font-weight: 500;
        color: var(--ion-color-neutral-700);
        margin-bottom: 0.75rem;

        &:first-letter {
          text-transform: capitalize;
        }

        &.break-text {
          margin-top: 0.75rem;

          &:first-letter {
            text-transform: lowercase;
          }
        }
      }

      strong {
        font-size: 1.5rem;
        color: var(--ion-color-neutral-700);
        font-weight: 700;
        line-height: 1.75rem;

        &:first-letter {
          text-transform: capitalize;
        }

        &.credential-type {
          min-height: 1.115rem;
        }
      }
    }
  }

  .page-footer.ios {
    margin-bottom: var(--ion-safe-area-bottom);
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .request-animation-center {
      padding-bottom: 1.2rem;

      .group-members {
        margin-top: 1.6rem;
      }

      .issuer-name ion-icon {
        width: 1rem;
        height: 1rem;
        margin-left: 0.2rem;
        padding-top: 0.12rem;
      }
    }

    .credential-detail {
      margin-top: 1.6rem;

      .credential-button {
        height: 2rem;
      }
    }

    .related-identifiers {
      margin-top: 1.2rem;

      .related-identifier-label {
        font-size: 0.8rem;
      }

      .related-identifier {
        --padding-top: 0.6rem;
        --padding-bottom: 0.6rem;

        .identifier-name {
          font-size: 0.8rem;
        }

        ion-icon {
          width: 1.1rem;
          height: 1.1rem;
        }
      }
    }

    .alert {
      margin-top: 0.6rem;
    }

    .request-icons-row {
      margin-bottom: 1.6rem;

      .request-user-logo,
      .request-provider-logo {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;

        ion-icon {
          width: 3.9rem;
          height: 3.9rem;
        }
      }

      .request-swap-logo,
      .request-checkmark-logo {
        margin: 0 1.296rem;
      }

      .request-swap-logo {
        width: 2.2rem;
        height: 2.2rem;

        span {
          width: 2.2rem;
          height: 2.2rem;
          border-radius: 2.2rem;

          ion-icon {
            width: 1.4rem;
            height: 1.4rem;
          }
        }
      }

      .request-checkmark-logo span {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;

        ion-icon {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .request-info-row ion-col {
      span {
        font-size: 0.8rem;
        margin-bottom: 0.6rem;

        &.break-text {
          margin-top: 0.6rem;
        }
      }

      strong {
        font-size: 1.2rem;
        line-height: 1.4rem;

        &.credential-type {
          min-height: 0.892rem;
        }
      }
    }

    .request-status {
      font-size: 1.2rem;
    }
  }

  @keyframes downsizeAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes resizeHeightAnimation {
    0% {
      transform: scaleY(1);
      opacity: 0;
    }

    100% {
      transform: scaleY(0);
      opacity: 0;
    }
  }

  @keyframes hiddenAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes checkMarkAnimation {
    0% {
      opacity: 0;
    }

    51% {
      opacity: 0;
    }

    52% {
      opacity: 1;
    }

    75% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-20%);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(0);
    }
  }

  @keyframes statusResizeAnimation {
    0% {
      opacity: 0;
      transform: translateY(-300%);
    }

    75% {
      transform: translateY(-100%);
      opacity: 0;
    }

    90% {
      opacity: 0.1;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes translateLeftAnimation {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    80% {
      transform: translate3d(-110%, 0, 0);
      opacity: 1;
    }

    100% {
      transform: translate3d(-110%, 0, 0);
      opacity: 0;
    }
  }

  @keyframes translateRightAnimation {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    80% {
      transform: translate3d(110%, 0, 0);
      opacity: 1;
    }

    100% {
      transform: translate3d(110%, 0, 0);
      opacity: 0;
    }
  }

  @keyframes translateTitleUpAnimation {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    50% {
      transform: translate3d(0, -25vh, 0);
      opacity: 0.5;
    }

    100% {
      transform: translate3d(0, -50vh, 0);
      opacity: 0;
    }
  }

  @keyframes translateFooterDownAnimation {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    50% {
      transform: translate3d(0, 25vh, 0);
      opacity: 0.5;
    }

    100% {
      transform: translate3d(0, 50vh, 0);
      opacity: 0;
      display: none;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .request-icons-row > * {
    opacity: 1;
  }

  .request-status {
    text-align: center;
    font-size: 1.5rem;
  }

  &.animation-off {
    .request-checkmark-logo,
    .request-status {
      display: none;
    }

    &.pending-multisig {
      .request-checkmark-logo,
      .request-status {
        position: initial;
        display: block;
      }

      .request-provider-logo,
      .request-swap-logo,
      .request-user-logo,
      .request-info-row {
        display: none;
      }
    }
  }

  &.animation-on:not(.setup-identifier) {
    ion-header {
      visibility: hidden;
    }

    .group-members {
      display: none;
    }

    .alert {
      display: none;
    }

    h2 {
      animation-delay: 1s;
      animation: translateTitleUpAnimation 1s forwards;
    }

    .request-icons-row {
      margin: 0;
    }

    .request-animation-center {
      margin: 0;
      padding: 0;
    }

    .request-user-logo {
      animation-delay: 0.5s !important;
      animation: translateRightAnimation 0.75s forwards;
    }

    .request-swap-logo {
      animation-delay: 0.5s !important;
      animation: hiddenAnimation 0.75s forwards;
    }

    .request-provider-logo {
      animation-delay: 0.5s !important;
      animation: translateLeftAnimation 0.75s forwards;
    }

    .request-checkmark-logo {
      animation: checkMarkAnimation 2.5s forwards;

      span {
        color: var(--ion-color-primary-100);
        background: var(--ion-color-primary-700);
        animation: spin 0.625s forwards;
        animation-delay: 1.3s;
      }
    }

    .request-info-row {
      animation: downsizeAnimation 0.75s forwards;
      height: 0;
    }

    .request-status {
      z-index: -1;
      animation: statusResizeAnimation 2.5s forwards;
    }

    .credential-detail {
      animation: resizeHeightAnimation 0.75s forwards;
    }

    .related-identifiers {
      animation: resizeHeightAnimation 0.75s forwards;
    }

    .page-footer {
      animation-delay: 1s;
      animation: translateFooterDownAnimation 1s forwards;
    }
  }
}
