.cloud-error {
  ion-title {
    h2 {
      text-align: left;
    }
  }
}

.profile-details-module {
  .page-header {
    .back-button {
      background: var(--ion-color-neutral-100) !important;
    }

    ion-title {
      h2 {
        text-align: left;
      }

      &.ios {
        margin-left: 3.5rem;
      }

      &.md {
        margin-left: 0.75rem;
      }
    }
  }

  .card-details-content {
    .profile-info {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;

      .avatar-button {
        margin-right: 1rem;

        &::part(native) {
          height: 4.25rem;
          width: 4.25rem;
        }

        span {
          font-size: 2.75rem;
        }
      }

      .profile-information {
        .profile-information-value {
          margin: 0;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5rem;
        }

        .profile-information-text {
          margin: 0;
          font-size: 0.625rem;
          line-height: 1rem;
        }
      }

      @media screen and (min-width: 250px) and (max-width: 425px) {
        margin-top: 1rem;

        .avatar-button {
          margin-right: 0.8rem;

          &::part(native) {
            height: 3.4rem;
            width: 3.4rem;
          }

          span {
            font-size: 2rem;
          }
        }
      }
    }

    .list-card {
      margin: 1.5rem 0;

      &.show-advance {
        margin-top: 0.75rem;
      }
    }

    .card-block {
      margin: 0.75rem 0 0;

      .card-detail-stack-item {
        h2 {
          font-weight: 700;
        }
      }

      .identifier-id {
        .card-details-info-content {
          display: block;
        }
      }

      &.group-members {
        .card-details-info-block-line {
          align-items: center;
          .card-details-info-block-line-start-icon {
            height: auto;

            ion-button.avatar-button {
              width: 1.5rem;
              min-height: auto;
              margin-bottom: 0.125rem;

              span {
                font-size: 1rem;
                line-height: 1rem;
              }

              &::part(native) {
                width: 1.5rem;
                height: 1.5rem;
              }
            }

            @media screen and (min-width: 250px) and (max-width: 370px) {
              width: auto;
            }
          }
        }

        .user-label {
          padding: 0.25rem 0.5rem;
          background: var(--ion-color-card-theme-one);
          border-radius: 0.25rem;
          display: flex;
          align-items: center;
          margin-left: 0.5rem;
          color: var(--ion-color-neutral-100);

          &.hidden {
            visibility: hidden;
          }

          ion-icon {
            margin-right: 0.25rem;
            width: 0.875rem;
            height: 0.875rem;
          }

          span {
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 1rem;
          }
        }
      }

      &.flat-border-top {
        margin-top: 0.25rem;
      }
    }
  }

  .creation-timestamp {
    .card-details-info-block-data {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--ion-color-neutral-700);

      .card-details-info-block-key {
        display: block;
        font-size: 1rem;
        color: var(--ion-color-neutral-700);
      }
    }
  }

  .list-header {
    margin: 1.5rem 0 0 !important;
  }

  .member:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .view-more-members {
    --background: var(--ion-color-neutral-300);
    --border-radius: 0.5rem;
    color: var(--ion-color-neutral-800);
    width: 100%;
    display: block;
    margin-top: 1.25rem;
    --box-shadow: none;
    --padding-top: 0.625rem;
    --padding-bottom: 0.625rem;
    font-size: 1rem;
    --background-activated: var(--ion-color-neutral-400);

    &::part(native) {
      border: none;
    }
  }

  .page-footer {
    margin-top: 1.5rem;
    padding: 0;
  }

  .profile-details-split-section {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    &.actions {
      margin-top: 1.5rem;
    }

    .card-block {
      width: 49%;

      .card-details-info-block-inner {
        height: 100%;
      }
    }

    .profile-button {
      --background: var(--ion-color-neutral-100);
      --color: var(--ion-color-neutral-700);
      --border-radius: 0.75rem;
      width: 48.5%;
      --padding-top: 0.5rem;
      --padding-bottom: 0.5rem;
      --background-activated: var(--ion-color-neutral-300);
      --background-focus: var(--ion-color-neutral-300);
      --background-hover: var(--ion-color-neutral-300);
      --box-shadow: none;

      &.full-width {
        width: 100%;
      }

      span {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      ion-icon {
        margin-right: 0.25rem;
      }

      @media screen and (min-width: 250px) and (max-width: 370px) {
        span {
          font-size: 0.8rem;
          line-height: 1.5rem;
        }
      }
    }
  }

  .rotate-keys-button,
  .edit-username-button {
    width: 100%;
    --background: transparent;
    --box-shadow: none;
    margin: 0;
    --background-activated: transparent;
    min-height: auto;

    p {
      margin: 0 0.25rem 0 0;
    }

    p,
    ion-icon {
      color: var(--ion-color-primary-700);
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .profile-details-split-section {
      flex-direction: column;

      .card-block {
        width: auto;
      }

      .profile-button {
        width: auto;
      }
    }

    .creation-timestamp {
      .card-details-info-block-data {
        font-size: 0.75rem;

        .card-details-info-block-key {
          font-size: 0.8rem;
        }
      }
    }

    .view-more-members {
      font-size: 0.8rem;
    }
  }
}

.identifier-card-detail-spinner-container {
  height: calc(100vh - 11.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
