.cloud-error {
  .responsive-page-content {
    justify-content: space-between;
  }

  .responsive-page-content {
    .info-card {
      p {
        white-space: pre-line;
      }
    }

    .page-footer {
      padding: 0;
    }
  }
}
