.create-passcode-module {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  justify-content: space-evenly;

  > * {
    flex: 0 1 auto;
  }

  & > .passcode-module-container {
    margin: 0;
  }

  @media screen and (min-height: 581px) {
    & .passcode-module-circle-row {
      margin: 0;
    }
  }

  & > .set-passcode-title {
    margin: 0;
  }

  .set-passcode-title,
  .set-passcode-description {
    text-align: center;
  }

  .set-passcode-description {
    min-height: 2.75rem;
  }

  & > .error-message {
    margin: 0;
  }

  & > .error-message-placeholder {
    margin: 0;
  }

  & > .passcode-module-container {
    margin: 0;
  }

  .hide {
    visibility: hidden;
  }
}
